
.dashboard h2, h4{
    text-decoration: none;
    text-align: center;
}

.welcome_title{
    margin:  3% 5% ;
    text-transform: capitalize;
    font-weight: normal;
}

.latest_elements h1{
    margin: 0;
}

.latest_elements h3{
    font-weight: lighter;
}

.latest_elements h3:hover{
    color: #f1356d;
}

.latest_elements{
    margin: 5%;
}

.elements_title{
    display: flex;
    justify-content: space-between;
}

.grid_column{
    margin-top: 2%;
    width: max(97%, 10px);
    display: grid;
    grid-auto-flow: column;
    gap: 20px;
}

.grid_column .element_preview{
    
    width: max( 27%, 1px);
    padding: 70px;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.1);
    border-radius: 10px;
    background: white;
}

.element_preview h4{
    text-align: center;
    margin-top: 30px;
    width: auto;
    display: block;
}


.add_card_span:hover{
    color: #f1356d;
}

.noDataMessage h4{
    box-shadow: 1px 2px 3px rgba(0,0,0,0.1);
    border-radius: 10px;
    background-color: white;
    width: 75%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 100px;
}